/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

$background-color: #f5f5f5;
$text-color: #495159;
$highlight-one: #62d052;
$highlight-two: #C5DECD;

body {
  font-family: 'Montserrat', 'Arial', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: $text-color;
  background-color: $background-color;
}

h1 {
  font-size: 30px;
  color: $highlight-one;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: $highlight-one;
  text-align: left;
  font-size: 40px;
  margin: 15px 0 10px 0;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.screen {
  width: 300px;
  margin: 0 auto;
}

button {
  box-shadow: none;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: $highlight-one;
  border-radius: 2px;
  width: 100%;
  height: 4em;
  border-style: solid;
  border-color: $highlight-one;
  background-color: white;
}         

#play-board {
  margin: 10px 0px 10px 0px;
}

#win-board {
  float: left;
  margin: 0px;
}

#controls {
  float: right;
  text-align: left;
  width: 140px;
  height: 70px;
  border-radius: 1px;
}

#control-container {
  text-align: left;
  background-color: #ffffff;
  height: 70px;
  padding: 20px 30px 0px 30px;
}

#next-level-button {
  margin: 10px 0 0 0;
  height: 50px; 
}

.block-text-container {
  height: 300px;
}

.block-text {
  font-style: italic;
  text-align: center;
  font-size: 30px;
  margin: 100px 0px 100px 0px;
}

#score-contrib-container {
  height: 100px;
}

.sc-row {
  margin: 15px 0px 15px 0px;
  width: 100%;
  display: inline-block;
  font-size: 20px;
}

.sc-left {
  float: left;
}

.sc-right {
  float: right;
}

#total-score {
  font-size: 30px;
  font-weight: bold;
  color: $highlight-one;
  padding: 30px;
}